<nav class="navbar">
  <div class="nav-links">
    <a routerLink="/kafalat-yatim" routerLinkActive="active">كفالة يتيم</a>
    <a routerLink="/hafr-abar" routerLinkActive="active">حفر آبار</a>
    <a routerLink="/binaa-masajid" routerLinkActive="active">بناء المساجد</a>
    <a routerLink="/hamlat-difee" routerLinkActive="active">حملة دفء</a>
    <a routerLink="/salat-ramadan" routerLinkActive="active">قفة رمضان</a>
    <a routerLink="/hakiba-madrasiya" routerLinkActive="active">حقيبة مدرسية</a>
  </div>
</nav>